

.main{
    background-color: cyan;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.header{
    box-sizing: content-box;
    text-align: center;
    background-color: darkblue;   
    align-self: baseline;
    margin-left: 100px;
    margin-right: 0;
    padding: 50px;
    font-family: 'lora', serif;
   

}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   max-width: 450px;
   background: #FAFAFA;
   padding: 50px;
   margin: 50px auto;
  

}





